<br />
<br />
<br />
<br />
<br />
<div class="col-md-2"></div>
<div class="col-md-8 question-post">
    
   
        <div class="question-body" style="float:left;">
            <div style="height:100%;width:30%;float:left;">
                <img src="~/images/Ali.jpg" class="img-circle" alt="Cinque Terre" width="150" height="150">
            </div>
            <div style="height:100%;width:70%;float:left;">
                <table>
                    <tr><h1>Ali Ahmed</h1></tr>
                    <tr><h4>American International University-Bangladesh</h4></tr>
                    <tr><h5>Computer Science and Software engineering</h5></tr>
                    <tr><h5>Programmer and Requiremnent Analyst</h5></tr>
                    <tr ><h5>aliahmedbd1234@hotmail.com</h5></tr>
                </table>
            </div>

       </div>
    <div class="question-body" style="float:left;">
        <div style="height:100%;width:30%;float:left;">
            <img src="~/images/Inan.jpg" class="img-circle" alt="Cinque Terre" width="150" height="150">
        </div>
        <div style="height:100%;width:70%;float:left;">
            <table>
                <tr><h1>Kaizer Tariq Inan</h1></tr>
                <tr>American International University-Bangladesh</tr><br />
                <tr>Software engineering</tr><br />
                <tr>Programmer</tr>
            </table>
        </div>

    </div>
    <div class="question-body" style="float:left;">
        <div style="height:100%;width:30%;float:left;">
            <img src="~/images/Nazifa.jpg" class="img-circle" alt="Cinque Terre" width="150" height="150">
        </div>
        <div style="height:100%;width:70%;float:left;">
            <table>
                <tr><h1>Nazifa Tasnim</h1></tr>
                <tr>American International University-Bangladesh</tr><br />
                <tr>Software engineering</tr><br />
                <tr>Document Writer and Designer</tr>

            </table>
        </div>

    </div>
    
</div>
<div class="col-md-2"></div>


